*{
    margin: 0;
    padding: 0;
}

.container{
    background-image: url("/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    background: linear-gradient(rgb(183, 241, 172),rgb(238, 238, 159));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
.head{
    background-color: blueviolet;
    border-radius: 10%;
}
.snake{
    background-color: rgb(140, 208, 240);
    border-radius: 20%;
}
.food{
    background-color:coral;
    border-radius: 10%;
}
#scoreBox{
    position: absolute;
    top: 15px;
    right: 100px;
    font-size: 40px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}
#highScr{
    position: absolute;
    top: 55px;
    right: 70px;
    font-size: 40px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}
